
@font-face {
	font-family: "CircularStd";
	src: url("../fonts/Comforter-Regular.woff2") format("woff2"), url("../fonts/Comforter-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;}
	
	@font-face {
	font-family: "Santens Regular";
	src: url("../fonts/SantensA1.woff2") format("woff2"), url("../fonts/SantensA1.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;}
	
	@font-face {
	font-family: "Lato";
	src: url("../fonts/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/lato-v23-latin-regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;}

body{
	max-width: 10200px;
	padding: 10px;
	text-align: center;
	background-color: rgb(18, 112, 112);
}

.panel{
	font-family: "CircularStd";
	font-size: 65px;
	padding: 25px 0px;
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 10px;
	text-shadow: 2px 1px 2px rgba(255, 255, 255, 1);
	box-shadow: 6px 6px 2px 1px rgb(22, 22, 22);
}

.bottom-title {
	font-size: 45px;
	padding: 10px;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.appear {
 	 opacity: 1;
}

.panel--vegan {
	background-color: #fac577;
	background: url("../img/vegan-mobile.jpeg")  100% 0%  no-repeat;
}

.panel--breakfast {
	background-color: #8de9f4;
}

.panel--appetizer {
	background-color: #ffb8da;
}

.panel--maindishes {
	background-color: #eece01;
}

.panel--desserts {
	background-color: #f3d036;
}

img {
	max-width: 30px;
	left: 30px;
	top:50px;
	position: absolute;
}

img:hover {
	max-width: 32px;
	transition: 0.6s;
}

.page {
    padding: 20px;
	margin: 0 auto;
	text-align: center;
	max-width: 1000px;
	min-height: 400px;
	border-radius: 10px;
	box-shadow: 6px 6px 2px 1px rgb(22, 22, 22);
}

.page--vegan {
	background-color: #fac577;	
}

.page--breakfast {
	background: url("../img/breakfast-mobile.jpg")  100% 100%  no-repeat;
	background-color: #8de9f4;
}

.page--appetizer {
	background: url("../img/appetizer-mobile.jpg")  100% 100%  no-repeat;
	background-color: #ffb8da;
}

.page--maindishes {
	background: url("../img/maindishes-mobile.jpeg")  100% 100%  no-repeat;
	background-color: #eece01;
}

.page--desserts {
	background: url("../img/desserts-mobile.jpeg")  100% 100%  no-repeat;
	background-color: #f3d036;
}

.block {
	display:flex;
	justify-content:space-around;
}
.continer{
	min-height: 490px;
}

.continer__button {
	font-size: 30px;
	margin: 10px;
	padding: 8px 20px;
	min-width: 250px;
	border-radius: 15px;
	font-family: "CircularStd";
	color: rgb(255, 255, 255);
	background-color: rgb(18, 112, 112);
	box-shadow: 6px 6px 2px 1px rgb(22, 22, 22);
	text-shadow: 2px 1px 2px rgb(26, 25, 25);
	cursor: pointer;
}

.continer__button:hover {
	background-color: rgb(114, 163, 163);
	transition: 0.5s;
}

  @media (min-width: 600px) {

	.panel--vegan {
		background: url("../vegan-mobile1.jpeg")  100% 0%  no-repeat;
		background-color: #fac577;
	}
	
	.page--vegan {
		background: url("../img/vegan.jpeg")  40% 5%  no-repeat;
		background-color: #fac577;
	}
	
	.page--breakfast {
		background: url("../img/breakfast.jpg")  100% 100%  no-repeat;
		background-color: #8de9f4;
	}
	
	.page--appetizer {
		background: url("../img/appetizer.jpeg")  80% 100%  no-repeat;
		background-color: #f3badb;
	}
	
	.page--maindishes {
		background: url("../img/maindishes.jpeg")  100% 100%  no-repeat;
		background-color: #eece01;
	}
	
	.page--desserts {
		background: url("../img/desserts.jpeg")  100% 100%  no-repeat;
		background-color: #f3d036;
	}

	.continer{
		min-height: 300px;
	}

	img {
		max-width: 40px;
		position: absolute;
		left: 70px;
	}

	img:hover {
		max-width: 37px;
		transition: 0.6s;
	}

	.block {
		display:flex;
		justify-content:space-around;
	}


.continer__button {
	font-size: 43px;
	margin: 15px;
	padding: 5px 23px;
	min-width: 350px;
	display: block;
}
	
.continer__button:hover {
	background-color: rgb(114, 163, 163);
}
  }
  @media (min-width: 800px) {
	img {
		max-width: 60px;
		position: absolute;
		left: 130px;
		top:40px;
	}

	img:hover {
		max-width: 55px;
		transition: 0.5s;
	}
  }

  @media (min-width: 1000px) {
	img {
		max-width: 60px;
		position: absolute;
		left: 270px;
		top:30px;
	}

	img:hover {
		max-width: 55px;
		transition: 0.5s;
	}
  }
